.card-container{
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    margin: 0 50px 45px 50px;
    border-radius: 5px;
    border: none;
    min-width: 210px;
    max-width: 210px;
    min-height: 200px;
    max-height: 200px;            
        
        .projects-img{
            min-width: 140px;
            max-width: 140px;
            min-height: 135px;
            max-height: 135px;
            margin: 0 auto;
            background-image: url('../../assets/images/main-pictures/recallpic.png');
            background-size: contain;
            border-radius: 100px
        }
         
        .projects-title-responsive {
            position: absolute;
            top: 128px;
            left: 60px;
            right: 0;
            font-weight: 600;
            font-size: 1.9rem;
            color: #003a61; 
            margin-top: 20px;                   
        }

        .projects-description-responsive{
            position: absolute;
            top: 190px;
            left: 0;
            right: 0;
            text-align: center;
            font-weight: 300;
            font-size: 1.1rem;
            color: #111;
            margin-top: 0;
        }                   

        &:hover,
        &:focus,
        &:active {
            transform: scale(1.1);

            .projects-title-responsive{
                color: rgb(0, 58, 97)
            }
        }
} 













    
