$accent-colour: #2E536C;

.container-recall {
    margin: 0 auto;
    padding: 15px;

    @media only screen and (min-width: 500px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 900px;
        padding: 0;
    }

    .section-extra-large-title {
        color: $accent-colour;
        font-size: 3rem;
        margin-top: 55px;
        text-align: center;
        
        @media only screen and (min-width: 500px) {
            margin-top: 100px;
        }
    }

    .case-study-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 20px 0;

        .case-study-picture {
            width: 150px;
            height: 300px;
            margin-right: 20px;

            @media only screen and (min-width: 500px) {
                margin-right: 80px;
            }
        }

        .project-description-container {
            display: flex;
            flex-direction: column;

            .project-description-small-container {
                display: flex;
                flex-direction: column;
                text-align: left;
                list-style: none;
                margin: 8px 0;

                .project-description-title {
                    font-weight: bold;
                    font-size: 1.1rem;
                    margin-bottom: 2px;
                }

                .project-description-text {
                    font-size: 1rem;
                }
            }
        }
    }

    .section-text {
        font-size: 1.2rem;
        text-align: left;
        line-height: 1.8rem;
        margin-top: 0;
        margin-bottom: 0;
    }




    a {
        text-decoration: none;

        .primary-button {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                background-color: $accent-colour;
                color: white;
                border-radius: 3px;
                border: 1px solid $accent-colour;
                padding: 7px 15px;
                font-size: 1rem;
                margin-top: 15px;
                margin-bottom: 0;

            &:hover {
                border: 1px solid $accent-colour;
                background-color: white;
                color: $accent-colour;
                cursor: pointer;
            }
        }   
        
    }

    .section-large-title {
        color: $accent-colour;
        font-size: 2.4rem;
        margin-top: 60px;
        margin-bottom: 20px;
        text-align: center;
    }

    .process-picture {
        margin-top: 30px;
        max-height: 200px;
        max-width: 100%;

        @media only screen and (min-width: 500px) {
            align-self: center;
            max-width: 50%;
        }
    }

         
    .bullet-point-container {
        display: flex;
        flex-direction: column;
        text-align: left;
        font-size: 1.2rem;

        .point {
            margin-bottom: 20px;

            .bold-point {
                font-weight: bolder;
                color: $accent-colour;
            }
        }
    }


    .demographic-picture {
        max-width: 100%;

        @media only screen and (min-width: 500px) {
            max-width: 40%;
            margin: 0 auto;
        }
    }


    .interview-img-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        .pain-points-title {
            color: red;
            font-size: 1.4rem;
            margin-bottom: 15px;
            text-align: left;
        }
        
        .pain-points-img {
            max-width: 100%;
            
            @media only screen and (min-width: 500px) {
                 max-width: 480px;
            }
        }
        
        .motivations-title {
            color: green;
            font-size: 1.4rem;
            margin-bottom: 15px;
            text-align: right;
        }
        
        .motivations-img {
            max-width: 100%;
           
            @media only screen and (min-width: 500px) {
                max-width: 360px;
            }
        }

    }


    .persona-img {
        max-width: 100%;
        margin-top: 5px;
    }

    .experience-map-img {
        max-width: 100%;
        margin-top: 5px;
    }


    .hmw-text {
        text-align: center;
        font-size: 1.8rem;
        font-weight: bold;
        color: $accent-colour;
        margin-top: 0px;
    }

    .constraints-container {
        margin-top: 5px;

        .section-medium-title {
            font-size: 1.5rem;
            text-align: left;
            margin-bottom: 10px;
        }

    }


    .ui-container {
        position: relative;
        z-index: 1;
        
        .ui-img {
            display: flex;
            align-self: center;
            width: 100%;
            height: auto;
            margin: 5px auto;

            @media only screen and (min-width: 500px) {
                width: 70%;
             }


        }
        
        .ui-button {
            margin: 0 auto;
            max-width: 150px;
            background-color: $accent-colour;
            color: white;
            border-radius: 3px;
            border: 1px solid $accent-colour;
            padding: 7px 15px;
            font-size: 1rem;
            position: absolute;
            top: 63%;
            left: 73%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            color: white;
            font-size: 16px;
            padding: 8px 10px;
            border: none;
            border: 1px solid $accent-colour;
            border-radius: 5px;

            @media only screen and (min-width: 500px) {
                left: 66%;
            }

            &:hover {
                border: 1px solid $accent-colour;
                background-color: white;
                color: #2E536C;
                cursor: pointer;
            }
        }   
    }
       

    .legend-img {
        max-width: 100%;
        margin: 20px auto;

        @media only screen and (min-width: 500px) {
            max-width: 45%;
        }

    }


    .section-medium-center-title {
        font-size: 2rem;
        margin-top: 100px;
        margin-bottom: 10px;
        text-align: center;
    }


    .section-small-title {
        font-size: 1.4rem;
        margin-bottom: 0;
        text-align: left;
    }


    .task-flow-img {
        max-width: 100%;
        margin: 10px 0;
    }



    .crazy8-img {
        max-width: 90%;
        margin-top: 40px;
        background-color: $accent-colour;
        padding: 15px;
        border-radius: 5px;

        @media only screen and (min-width: 500px) {
            max-width: 430px;
            margin: 30px auto;
        }
    }

              
    .screen-sketches-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
        .screen-sketches-img {
            max-width: 90%;
            margin: 20px 0;
            background-color: $accent-colour;
            padding: 15px;
            border-radius: 5px;

            @media only screen and (min-width: 500px) {
                max-width: 39%;
                margin: 20px 10px;
            }
        }
    }
           
    
    .flow-sketches-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .flow-sketches-img {
            max-width: 90%;
            margin: 20px 0;
            background-color: $accent-colour;
            padding: 15px;
            border-radius: 5px;

            @media only screen and (min-width: 500px) {
                max-width: 40%;
                margin: 20px 10px;                             
            }
        }
    }

    .section-small-center-title {
        font-size: 1.5rem;
        margin: 30px 0 15px 0;
        font-weight: bold;
        text-align: center;
    }

    .moodboard-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @media only screen and (min-width: 500px) {
            flex-wrap: nowrap;
        }

        .moodboard-img {
            max-width: 90%;
            margin: 10px auto;
            padding: 10px;

            @media only screen and (min-width: 500px) {
                max-width: 45%;
            }
        }

        .moodboard-section-container {
            display: flex;
            flex-direction: column;
            padding: 10px;

            @media only screen and (min-width: 500px) {
                margin-top: 50px;          
            }

            .moodboard-button {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                background-color: $accent-colour;
                color: white;
                border-radius: 3px;
                border: 1px solid $accent-colour;
                padding: 10px 15px;
                font-size: 1rem;
                margin-top: 15px;
                max-width: 160px;

                &:hover {
                    border: 1px solid $accent-colour;
                    background-color: white;
                    color: $accent-colour;
                    cursor: pointer;
                }

            }
            
        }
    }


    .colour-img-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 60px auto;

        @media only screen and (min-width: 500px) {
            justify-content: center;
            margin: 40px auto;
        }
            

        .colour-img {
           max-width: 100px;

            @media only screen and (min-width: 500px) {
                max-width: 165px;
                margin: 0 20px;
            }
        }
    }
        
    .neutral-img-container {
        display: flex;
        justify-content: center;

        .colour-neutral-img {
            max-width: 300px;

            @media only screen and (min-width: 500px) {
                max-width: 500px;
            }
        }
    }  


    .typography-img {
        max-width: 90%;
        margin: 50px auto;

        @media only screen and (min-width: 500px) {
            max-width: 600px;
        }
    }
  


    .wordmark-experimentation-img {
        max-width: 100%;

        @media only screen and (min-width: 500px) {
            max-width: 70%;
            margin: 0 auto;
        }
    }


    .wordmark-img {
        display:flex;
        align-self: center;
        max-width: 40%;
        margin: 40px auto;

        @media only screen and (min-width: 500px) {
            max-width: 20%;            
        }  
    }


    .evolution-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        .evolution-items-container {
            max-width: 170px;

            .evolution-screen-1 {
                background-color: $accent-colour;
                padding: 10PX;
                border-radius: 5PX;
                margin-top: 30px;
                max-width: 150px;
                min-width: 150px;
                min-height: 350px;
                max-height: 350px;
            }


            .evolution-screen-2 {
                background-color: $accent-colour;
                padding: 10PX;
                margin-top: 30px;
                border-radius: 5PX;
                max-width: 150px;
                min-width: 150px;
                min-height: 400px;
                max-height: 400px;

            }

            .evolution-screen-3 {
                margin-top: 30px;
                background-color: $accent-colour;
                padding: 10PX;
                border-radius: 5PX;
                max-width: 150px;
                min-width: 150px;
                min-height: 550px;
                max-height: 550px;

            }

            .evolution-screen-4 {
                margin-top: 30px;
                background-color: $accent-colour;
                padding: 10PX;
                border-radius: 5PX;
                max-width: 150px;
                min-width: 150px;
                min-height: 400px;
                max-height: 400px;

            }

            .evolution-screen-5 {
                margin-top: 30px;
                background-color: $accent-colour;
                padding: 10PX;
                border-radius: 5PX;
                max-width: 150px;
                min-width: 150px;
                min-height: 550px;
                max-height: 550px;

            }

            .evolution-title {
                text-align: left;
                padding-left: 2px;
                font-size: 1rem;
                margin: 10px 0;
            }


            .evolution-text {
                padding-left: 2px;
                text-align: left;
                font-size: 0.9rem;
                margin-top: 0;
            }
        }
    }



    .prototype-section-container {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .prototype-second-img {
                max-width: 50%;
                margin: 40px 0 0 0;

                @media only screen and (min-width: 500px) {
                    max-width: 300px;
                    margin: 40px 0 0 0;
                }
        }


        .prototype-small-section-container {
            margin: 35px 0 0 35px;
            max-width: 400px;
            text-align: left;

            @media only screen and (min-width: 500px) {
                margin: 80px 0 0 35px;
                max-width: 400px;
                text-align: left;
            }

        }

    }

}



