@mixin title-list {
    font-size: 1.6rem;
    text-align: left;
    margin: 0;
    font-weight: 700;
    color: #003A61;
}

@mixin primary-description {
    .small-title {
        font-size: 1.2rem;
        margin-bottom: 0;
        font-weight: 550;
        margin-top: 15px;
    }

    .time {
        font-size: 1rem;
        margin: 3px 0;
        font-weight: 450;
        font-weight: 300;
    }
}

.hellopic {
    max-width: 250px;
    margin: 3px 0 5px 0;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 110px 0 82px 0;
    padding: 10px 40px;
    line-height: 1.6rem;

    .about-intro-section {
        padding-left: 15px;
       
        @media only screen and (min-width: 769px) {
            max-width: 600px;
        }

        .hellopic {
            @media only screen and (min-width: 769px) {
                max-width: 300px;
            }
        }

        .about-text {
            text-align: left;
            font-size: 1.2rem;
        }
    }

    .skill-section-title {
        @include title-list;
        padding-left: 15px;
    }

    .skill-point-container {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding-left: 15px;
        margin-bottom: 35px;
          
        @media only screen and (min-width: 769px) {
            max-width: 600px;
        }

        .skill-point {  
            margin: 8px 16px 8px 0;
            color: #111;
            background-color: #F0F0F0;
            padding: 6px 12px;
            border-radius: 5px;
            font-weight: 600;
            font-size: 0.9rem;
        }
    } 

    .experience-container {
        padding-left: 15px;
        
        @include primary-description;
        margin-top: 25px;

        @media only screen and (min-width: 769px) {
            max-width: 600px;
        }

        .section-title {
            @include title-list;
            margin-top: 10px;
            margin-left: 0;
        }

        .description {
            margin-top: 15px;
            font-size: 1.2rem;
        
            .description-item {
                margin: 8px
            }
        }
    }

    .education-container {
     
        @include primary-description;

        @media only screen and (min-width: 769px) {
            max-width: 600px; 
        }

        .other-section-title {
            @include title-list;
            margin-top: 35px;
        }
    }
}


  

       




   

