@mixin title-list {
    font-size: 1.8rem;
    text-align: left;
    margin: 48px 0 10px 9px;
    font-weight: 600;
    color: #003A61;
}

@mixin primary-description {
    .small-title {
        font-size: 1.2rem;
        margin-bottom: 0;
        font-weight: 550;
        margin-top: 15px;
    }

    .time {
        font-size: 1rem;
        margin: 3px 0;
        font-weight: 450;
        font-weight: 300;
    }
}

.hellopic {
    position: relative;
    left: 6px;
    max-width: 210px;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    margin: 60px 15px;
    line-height: 1.6rem;

    @media only screen and (min-width: 500px) {
            padding: 0;
    }

    .about-intro-section {
        @media only screen and (min-width: 500px) {
            max-width: 600px;
            margin-right: 50px;
        }

        .hellopic {
            @media only screen and (min-width: 450px) {
                max-width: 390px;
            }

            @media only screen and (min-width: 700px) {
                max-width: 600px;
                position: none;
            }
        }

        .about-text {
            text-align: left;
            font-size: 1.3rem;
            padding: 0 5px 0 10px;
            margin: 0;
            max-width: 100%;

            @media only screen and (min-width: 500px) {
                padding: 0 0 0 10px;
                max-width: none;
            }
        }
    }

    .skill-section-title {
        @include title-list;

        @media only screen and (max-width: 1331px) {
                margin: 30px 0 10px 9px;
            }
    }

    .other-skill-section-title {
        @include title-list;
        margin: 30px 0 10px 9px;
    }

    .skill-point-container {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;       

        @media only screen and (min-width: 500px) {
            max-width: 650px;
        }

        .skill-point {  
            margin: 10px;
            color: #111;
            background-color: #F0F0F0;
            padding: 6px 20px;
            border-radius: 5px;
            font-weight: 600;
            font-size: 0.9rem;
        }
    } 

    .experience-container {
        margin: 30px 0 0 0;
        padding-left: 9px;

        @include primary-description;

        @media only screen and (min-width: 500px) {
            max-width: 610px;
            margin-right: 33px;
        }

        .section-title {
            @include title-list;
            margin: 10px 0 0 0,
        }

        .description {
            margin-top: 15px;
            font-size: 1.2rem;
        
            .description-item {
                margin: 8px
            }
        }
    }

    .education-container {
        margin: 10px auto;
        padding-left: 10px;
        @include primary-description;

        @media only screen and (min-width: 500px) {
            max-width: 610px;
            
        }

        .other-section-title {
            @include title-list;
            margin: 35px 0 0 0,
        }
    }

}


  

       




   

