.responsive-container {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-color: white;
    z-index: 3;

    .close-responsive-container {
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        justify-content: space-between;
        font-size: 20px;
        min-height: 65px;
        background-color: white;
        color: #111;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;


        .close-responsive-menu {
            min-width: 40px;
            min-height: 40px;
            padding-top: 8px;
            color: #111;
            margin-right: 12px;
        }

        .branding-2 {
            display:none;
        }
    }

    .responsive-container-menu {
        display: flex;
        flex-direction: column;
        margin: 30px auto;
        list-style: none;
        padding: 0;
        text-align: center;

        .menu-items {
            display: flex;
            flex-direction: column;
            margin: 30px auto;
            font-size: 2rem;
            color: #111 !important;
            text-decoration: none;
        }
        
        .responsive-menu-icons {
            color: #111 !important;
            text-decoration: none;
        }

    }

}
